.ymaps-2-1-79-map {
  width: 100% !important;
  height: 500px !important;
}

.ymaps-2-1-79-map-canvas {
  background-color: #f0f0f0 !important;
}

.ymaps-2-1-79-copyrights-pane {
  display: none !important;
}
